<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>TestObjectPage</h1>
    <hr>
    <% Object.values(productsA).forEach(function(item){%>
        <p> Name: <%= item.animeName %>
        </p>
        <p> Point: <%= item.point %>
        </p>
        <hr>
        <% }) %>

            <div style="padding-top: 20px;"><a href="/">back to home</a></div>

</body>

</html>